<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556111141616-ch3g0lo4o49i2abv3leklmthjqhk3nl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556111141616-ch3g0lo4o49i2abv3leklmthjqhk3nl7</string>
	<key>API_KEY</key>
	<string>AIzaSyC-jlxhtF0SoTM6gZ2c-kLwNUg8Cn-_n4A</string>
	<key>GCM_SENDER_ID</key>
	<string>556111141616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>upax.com.mx.testUpax-David-Guillermo-Lopez-Vazquez</string>
	<key>PROJECT_ID</key>
	<string>testupax</string>
	<key>STORAGE_BUCKET</key>
	<string>testupax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556111141616:ios:7de6e1ab69aca1b4404035</string>
</dict>
</plist>